{% extends 'Base/main index.html' %}
{% load static %}
{% load db %}

{% block head_loads %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/any/header-content.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/any/scroll.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/desktop/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/desktop/admin top panel.css' %}"/>
    <script type="text/javascript" src="{% static '/js/save.js' %}" defer></script>
    <script type="text/javascript" src="{% static '/js/saving.js' %}" defer></script>
    <script type="text/javascript" src="{% static '/js/filters.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/desktop/combobox.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/desktop/table.css' %}"/>
{% endblock %}

{% block extension %}
    <div class="admin-content">
        <div class="top-panel">
            {% include 'include/admin panel.html' %}
        </div>
        {% if model is not None %}
            {% csrf_token %}
            <a id="model-name" style="display: none">{{ model|get_model_name }}</a>
            {% include 'include/admin table.html' with models=values fields=fields %}
        {% else %}
            <a>Choose the model</a>
        {% endif %}
    </div>
{% endblock %}

