{% extends 'Base/main index.html' %}
{% load static %}
{% load db %}

{% block head_loads %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/header-content.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/scroll.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/admin.css' %}"/>
{% endblock %}

{% block extension %}
    <div class="admin-content">
        <div class="top-panel">
            {% include 'include/admin panel.html' %}
        </div>
        {% if model is not None %}
            <form method="post" class="model-filters">
                {% csrf_token %}
                {% for column in model|get_model_fields %}
                    <div class="column-{{ column }} column">
                        <label class="column-header">
                            <input name="{{ column }}" class="admin-filter label-input" placeholder="{{ column }}">
                            <a class="text-font">{{ column }}</a>
                        </label>
                        {% for value in models|column_values:column %}
                            <a>{{ value }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
                <label class="filter-submit-label">
                    <button class="button-style filter-submit" type="submit">Search</button>
                </label>
            </form>
        {% else %}
            <a>Choose the model</a>
        {% endif %}
    </div>
{% endblock %}

