.admin-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-block);
    border-radius: 40px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    box-shadow: var(--inside-shadow);
    gap: 20px;
    overflow-x: scroll;
}

.admin-content::-webkit-scrollbar{
    display: none;
}

.admin-button {
    font-size: 14px;
}

.admin-field-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}