.admin-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-block);
    border-radius: 40px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    box-shadow: var(--inside-shadow);
    gap: 20px;
}

.admin-button {
    font-size: 14px;
}

.top-panel {
    align-self: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.admin-field-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}