.admin-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-block);
    border-radius: 40px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    box-shadow: var(--inside-shadow);
    gap: 20px;
}

.admin-button {
    font-size: 14px;
}

.top-panel {
    align-self: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.admin-field-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.model-content > label {
    display: flex;
    flex-direction: column;
}


.admin-table-field select,
.admin-table-field input{
    margin: 0;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}


.admin-table-field select{
    padding: 4px;
}

.model-content > label:before {
    content: '';
    background-color: var(--devider);
    height: 4px;
    margin: 10px;
    border-radius: 5px;
}

.admin-fields > div:after {
    content: '';
    background-color: var(--devider);
    width: 4px;
    margin: 0 10px;
    border-radius: 5px;
}

.admin-fields,
.admin-fields > div{
    display: flex;
    flex-direction: row;
}
