@font-face {
    font-family: 'Agora Slab';
    font-style: normal;
    font-weight: normal;
    src: local('Agora Slab'),
       url('../../fonts/font-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Agora Slab';
    font-style: normal;
    font-weight: bold;
    src: local('Agora Slab'),
       url('../../fonts/font-bold.ttf') format("truetype");
}

:root {
    --primary-color: #743C97;
    --gray: #d8d8d8;
    --background-color-block: #F2F2F2;
    --background-color: #FEE500;
    --accept: #04A851;
    --warning: #FEE500;
    --decline: #D32F2F;
    --transition: .5s;
    --border-size: 5px;
    --input-border-size: 3px;
    --inside-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

html,
body {
    height: 100%;
    max-width: 100vw;
    margin: 0;
    background-color: var(--gray);
    font-family: "Agora Slab", sans-serif;
    animation: ease-in-out;
}


*::-webkit-scrollbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
}

*::-webkit-scrollbar-track {
    background: var(--background-color-block);
    position: absolute;
    box-shadow: var(--inside-shadow);
}

a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-size: 20px;
    font-family: "Agora Slab", sans-serif;
}

.all {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    min-height: 100%;
}

.all .header {
    position: sticky;
    top: 0;
    flex: 0 1 0;
    z-index: 1;
    background-color: var(--background-color-block);
    box-shadow: var(--inside-shadow);
    backdrop-filter: blur(15px);
}

.all .extension {
    flex: 1 1 auto;
    display: flex;
    max-width: 100vw;
    align-self: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    padding: 80px;
}

.all .contact-title {
    flex: 0 1 0;
    position: relative;
    background-color: var(--background-color-block);
    box-shadow: var(--inside-shadow);
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header {
    background-color: var(--background-color-block);
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: var(--background-color-block);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    padding: 20px;
    height: fit-content;
}

.header-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;

    transition: color 0.3s linear;
}

.contact-title {
    background-color: var(--background-color-block);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-block {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.footer-content {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-block {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.footer-block > div {
    width: fit-content;
    height: fit-content;
}

.footer-block > div > svg {
    width: 40px;
    height: 40px;
}

.footer-content a {
    font-size: 18px;
}

.button-style {
    background-color: transparent;
    border: var(--input-border-size) solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    transition: var(--transition);
    text-decoration: none;
    outline: none;
    align-content: center;
    display: flex;
    gap: 10px;
}

.button-style > svg {
    fill: var(--primary-color);
    transition: var(--transition);
}

.button-style:hover > svg ,
.button-style:focus > svg {
    fill: var(--background-color);
}

.button-style:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    outline: none;
}

.button-style:focus{
    background-color: var(--primary-color);
    color: var(--background-color);
    outline: none;
}

.click-icon > svg > a {
    margin: 50px;
    border-radius: 5px;
    align-self: center;
}
