.payment {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 10px;
    gap: 20px;
    border: var(--input-border-size) solid var(--primary-color);
}

.payment:has(a.plus){
    border-color: var(--accept);
}

.payment:has(a.minus){
    border-color: var(--decline);
}

.plus {
    color: var(--accept);
}

.minus {
    color: var(--decline)
}