.students-blocks {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 40px;
    flex-direction: column;
    background-color: var(--background-color-block);
}

.students-blocks > div:not(:last-child)::after{
    width: 50vw;
    height: 5px;
    margin: 40px 0;
    border-radius: 5px;
    position: relative;
    background-color: var(--gray);
    content: '';
    align-self: center;
}

.scroll-div {
    width: fit-content;
}

.students-blocks .content-block {
    width: 100%;
}

.all .extension {
    width: calc(100vw - 10px);
}
