<label for="{{ id }}" class="{{ class }}">
    <select id="{{ id }}" name="{{ options.name }}" type="{{ options.type }}"
    {% if value is None %}
        >
        <option selected value="">{{ options.name }}</option>
    {% else %}
        disabled>
    {% endif %}
    {% for key, item_value in options.objects.items %}
        <option value="{{ key }}"
        {% if key == value %}
            selected
        {% endif %} >
            id:{{ key }} - {{ item_value }}
        </option>
    {% endfor %}
    </select>
</label>
