<div class="{{ class }} combobox" id="{{ id }}">
    {% if not forloop.parentloop %}
        <input type="radio" id="{{ id }}-0" name="{{ name }}" value="" checked/>
        <label for="{{ id }}-0">{{ options.name }}</label>
    {% endif %}
    {% for key, item_value in options.objects.items %}
        <input type="radio" id="{{ id }}-{{ forloop.counter }}" name="{{ name }}" value="{{ key }}" {% if key == value %}checked{% endif %}/>
        <label for="{{ id }}-{{ forloop.counter }}">id:{{ key }} - {{ item_value }}</label>
    {% endfor %}
    <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
            <path fill="#000000" d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496"></path>
        </svg>
    </div>
</div>
