{% load filters %}

<div class="admin-table-field">
    <div class="admin-field-header">
        <a class="field-name">{{ field.name }}</a>
        {% include content.template with id=field.name options=content.options values=content.objects %}
    </div>
    <div class="model-content">
        {% for value in content.options.values %}
            {% with field.name|concat:"-"|concat:forloop.counter0 as id %}
                {% include content.template with id=id options=content.options values=content.objects value=value %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
