{% load db %}
{% load filters %}

<div class="top-add-buttons">
    <a>Добавить в таблицу</a>
    <div class="model-buttons">
    {% for model in 0|get_model_list %}
        <a class="button-style admin-button" href="/admin/add/{{ model|get_model_name }}">{{ model|get_verbose_name }}</a>
    {% endfor %}
    </div>
</div>
<div class="top-edit-buttons">
    <a>Изменить в таблице</a>
    <div class="model-buttons">
        {% for model in 0|get_model_list %}
            <a class="button-style admin-button" href="/admin/edit/{{ model|get_model_name }}">{{ model|get_verbose_name }}</a>
        {% endfor %}
    </div>
</div>

