.admin-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-block);
    border-radius: 40px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    box-shadow: var(--inside-shadow);
    gap: 20px;
}

.admin-button {
    font-size: 14px;
}

.top-panel {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.label-input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    outline: none;
}

.label-input:not(:placeholder-shown),
.label-input:focus {
    border-color: var(--accept);
}


.models-list {
    display: inline-flex;
    flex-direction: column;
}

.filter-submit {
    height: fit-content;
    font-size: 14px;
}

.model-filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column > a {
    width: fit-content;
}

.column > label {
    width: 100%;
    display: flex;
}

.input-column {
    min-width: 100px;
    width: 100%;
}

.model-table * {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.model-table {

}

