.header-content-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.header-content-block > div {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}