.visit-block {
    height: fit-content;
    min-width: min-content;
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    padding: 10px 15px;
    border: 5px solid transparent;
    border-radius: 20px;
    position: relative;
    gap: 5px;
}

.visit-block a {
    color: var(--background-color-block);
    transition: var(--transition);
    font-size: 14px;
    width: fit-content;
    font-weight: bold;
    align-self: center;
    align-content: center;
    text-align: center;
}

.changed {
    border-color: var(--warning);
}

.too-early {
    background: var(--primary-color);
}

.visited {
    background: var(--accept);
}

.pass {
    background: var(--decline);
}

.date, .time {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.date > a:not(:last-child):after{
    content: '.';
}
.time > a:not(:last-child):after{
    content: ':';
}
